@using Data;

<EditForm Model="@mem" OnValidSubmit="@OnValidSubmit">
  <form>
        <div class="row my-1">
            <div class="form-group col-sm-2">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="inputFirstName" @bind="@mem.FirstName" placeholder="First Name">
            </div>
            <div class="form-group col-sm-2">
                <label for="LastName">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" @bind="@mem.LastName" placeholder="Last Name">
            </div>
        </div>
        <div class="row my-1">
            <div class="form-group col-sm-4">
                <div class="col">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="inputEmail" @bind="@mem.Email" placeholder="pgaplayers@livetour.com">
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="form-group col-sm-4">
                <div class="col">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control" id="inputPhone" @bind="@mem.Phone" placeholder="086-12345678">
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="form-group col-sm-2">
                <div class="col">
                    <label for="inputSex">Sex</label>
                    <InputSelect class="form-control" @bind-Value="@mem.Sex">
                        @if(mem.Sex == "Male")
                        {
                            <option value="@mem.Sex">@mem.Sex</option>
                            <option value="Female">Female</option>
                        }
                        else if(mem.Sex == "Female")
                        {
                            <option value="@mem.Sex">@mem.Sex</option>
                            <option value="Male">Male</option>
                        }
                        else
                        {
                        <option>Please Select</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <div class="col">
                    <label for="handicap">Handicap</label>
                    <input type="number" class="form-control" id="inputHandicap" @bind="@mem.Handicap">
                </div>
            </div>
        </div>
  </form>  
    <br />
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>


@code {
    [Parameter] public GolfMember mem { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
