@page "/members/view"
@using Data;
@inject GolfMemberService MemberService;
@inject IJSRuntime js

<h3>Members</h3>
<div class="form-group">
    <a class="btn btn-success" href="/members/create"><i class="oi oi-plus"></i> Create New Member</a>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <td>Member Id</td>
            <td>Name</td>
            <td>Handicap</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var member in members)
        {
            <tr>
                <td>@member.MemberID</td>
                <td>@member.FirstName @member.LastName</td>
                <td>@member.Handicap</td>
                <td>
                    <a class="btn btn-success mx-3" href="members/edit/@member.MemberID">Edit</a>
                    <button class="btn btn-danger mx-3" @onclick="@(() => DeleteMember(member))">Delete</button>
                </td>
            </tr>
        }

    </tbody>
</table>

@code {
    private List<GolfMember> members;

    protected override async Task OnInitializedAsync()
    {
        await RefreshMembers();
    }

    private async Task RefreshMembers()
    {
        members = await MemberService.GetMembersAsync();
    }

    private async Task DeleteMember(GolfMember delMember)
    {
        bool confirmed = await js.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {delMember.FirstName} {delMember.LastName}?");
        if (confirmed)
        {
            await MemberService.DeleteMemberAsync(delMember);
            await RefreshMembers();
        }
    }
}
